@charset "UTF-8";
body {
    background-image: url(https://i.imgur.com/LBt6ceC.png);
}

.form1 {
    position: absolute;
    top: 20%;
    left: 48%;
    transform:  translate(-50%,50%);

   

}
.form2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform:  translate(-50%,50%);
  
}

.form3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,50%);
 

}
html {
  margin: 40px auto;
}
.searchButton {

	  border-radius: 0;
	  color: #fff;
	  border-width: 3px;
	  border-style: solid;
	  border-color: black;
	  
	  
	}
	.searchButton, .btn-search:visited {
	  color: black;
	}
	.searchButton:active, .btn-search:hover {
	  background: white;
	  color: #fff;
	}





